/* body div {
    margin: 5px 0px;
} */

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.tooltip {
    border: 1px solid rgb(203, 203, 203);
    line-height: 1.6;
    /* white-space: pre-wrap; */
}

.computer-names {
    margin-top: 10px;
    margin-left: 2.7%;
}


.ui-resizable-handle {
    display: flex;
    justify-content: right;
    float: right;

    width: 20px;
    height: 100%;
    padding: 5px;
    
    background-image: url('../assets/triangle-top-left-icon\ \(1\).png');
    background-repeat: no-repeat;
    transform: rotate(180deg);
    margin: 0px 2px 2px 0px;
    
}



