/* body div {
    margin: 5px 0px;
} */

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.tooltip {
    border: 1px solid rgb(203, 203, 203);
    line-height: 1.6;
    /* white-space: pre-wrap; */
}

.computer-names {
    margin-top: 10px;
    margin-left: 2.7%;
}

/* .ui-resizable-handle {
    display: flex;
    padding: 15px;
    color: #000;
    border: 1px solid black;
} */

/* .ui-resizable-e{
    position: absolute;
    float:right;
    right:100%;
} */



.ui-icon {
    padding: 5px;
    color: #000;

    /* border: 1px solid black; */

    width: 10px;
    height: 100%;

    /* padding: 15px; */
    /* padding-left: 0px; */

    /* background-image: url(../assets/ui-icons_444444_256x240.png); */
    /* background-image: url(../assets/arrow-18-256-256.png); */
    /* background-image: url(../assets/corner-bottom-right-icon.png); */

    background-image: url(../assets/ui-icons_444444_256x240.png);
    transform: rotate(90deg);

    /* transform: rotate(225deg); */
    float: right;
    /* height: 100%; */
    /* display: flex; */
    /* width: max-content; */
    /* align-items: flex-end; */
    /* shape-outside: inset(calc(100% - 100px) 0 0); */


    /* display: inline-block; */
    /* vertical-align: middle;
    margin-top: -0.25em; */

    position: relative; 
    /* bottom: 3px; */
    /* top: 1%; */
    /* right: 2%; */
    /* text-indent: -99999px; */
    /* overflow: hidden; */
    background-repeat: no-repeat;
    /* z-index: 90; */
}
/* .timeline {
    border: 1px solid black;
} */