/* body div {
    margin: 5px 0px;
} */

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.tooltip {
    border: 1px solid rgb(203, 203, 203);
    line-height: 1.6;
    /* white-space: pre-wrap; */
}

.computer-names {
    margin-top: 10px;
    margin-left: 2.7%;
}

/* .timeline {
    border: 1px solid black;
} */